*.user
main.cpp
PacMan/main.cpp
*.user
PacMan/PacMan.pro.user.710831a
*.Debug
build-PacMan-Desktop_Qt_5_5_1_MinGW_32bit-Debug/Makefile.Release
*.Debug
build-PacMan-Desktop_Qt_5_5_1_MinGW_32bit-Debug/object_script.PacMan.Release
*.user
*.user
PacMan/PacMan.pro.user.2175245
*.dll
*.o
build-PacMan-Desktop_Qt_5_5_1_MinGW_32bit-Release/object_script.PacMan.Release
*.Release
